$baseColor: #009cfb;
$color43: #434343;
$color84: #848484;
@mixin containerSize($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}
@mixin fontSize($fontsize:.24rem) {
  font-size: $fontsize;
}
@mixin marGin($key: left, $value: 0) {
  margin-#{$key}: $value;
}
@mixin rgBa($key,$color,$alpha) {
  #{$key}: rgba($color, $alpha);
}
@mixin pos($colDrec: top, $colval: 0, $rowDrec: left, $rowval: 0) {
  position: absolute;
  #{$colDrec}: $colval;
  #{$rowDrec}: $rowval;
}

%blockAuto {
  display: block;
  margin: 0 auto;
}
%Absolute0 {
  position: absolute;
  top: 0;
  left: 0;
}
%Absolute1 {
  position: absolute;
  bottom: 0;
  right: 0;
}
@mixin prefix($property, $value) {
  -webkit-#{property}: $value;
  -moz-#{property}: $value;
  -o-#{property}: $value;
  -ms-#{property}: $value;
  #{property}: $value;
}
@mixin borderRadius($value) {
  @inlcude prefix(border-radius, $value);
}